* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

html {
  min-height: 100% !important;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #000;
}

#root {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#contain {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#menu {
    display: flex;
    flex-flow: column;
}

.img-wrap {
    position: relative;
    width: max(23.1vw, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrap > img {
    opacity: 0;
    width: 100%;
    align-self: flex-end;
}

#equipment-contain {
    display: grid;
    grid-template-columns: 1fr 43% 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    width: 87%;
    height: 73%;
    grid-auto-flow: column;
    grid-row-gap: 10%;
    grid-column-gap: 4%;
    margin-left: -6%;
    margin-top: 3%;
}

#select-contain {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    width: 74%;
    height: 74%;
    grid-auto-flow: column;
    margin-top: 3%;
    grid-gap: 5%;
}

#quest-contain {
    display: flex;
    flex-flow: row;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#quest-contain-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#quest-contain-left-top {
    width: 37%;
    height: 49%;
    display: grid;
    place-content: center;
    grid-template-rows: repeat(2, 0.2fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16%;
    margin-left: 8%;
    align-items: center;
    justify-content: center;
    grid-row-gap: 17%;
    margin-top: 5%;
}

#quest-contain-left-mid {
    width: 90%;
    height: 23%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    place-self: flex-end;
    margin-right: 3%;
    place-content: center;
    align-items: center;
    justify-content: center;
    margin-top: -1%;
    grid-row-gap: 16%;
}

#quest-contain-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#medallions {
    width: 69%;
    height: 74%;
    display: grid;
    grid-template-columns: 27% 33% 27%;
    grid-template-rows: 16% 16% 10% 16% 16%;
    place-items: center;
    align-content: center;
    grid-column-gap: 4%;
    margin-top: 4%;
}

#stones {
    height: 16%;
    width: 56%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 87%;
    justify-content: center;
    align-items: center;
    place-items: center;
    grid-column-gap: 16%;
    margin-left: -3%;
}

#map {
    position: relative;
    width: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

#map-contain {
    width: max(53vw, 400px);
    position: relative;
}

#map-contain > img {
    width: 100%;
}
