.item {
    width: 120%;
    height: 120%;
    cursor: pointer;
    opacity: 0.35;
}

.item.obtained {
    opacity: 1;
}

.default-item {
    cursor: not-allowed;
}

#projectiles {
    position: relative;
}

.bullet-bag {
     position: absolute;
     left: -40%;
     top: -40%;
}

 .quiver {
     position: absolute;
     left: 40%;
     bottom: -40%;
 }
